<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>storeId</key>
	<string>damsoft</string>
	<key>productId</key>
	<string>finder-terminal</string>
	<key>productName</key>
	<string>Finder Terminal</string>
</dict>
</plist>
